@mixin fade-out($duration: 200ms, $timing-function: ease-in-out, $delay: 0ms) {
  opacity: 0;
  visibility: hidden;
  transition: opacity $duration $timing-function $delay, visibility $duration + $delay;
}

@mixin fade-in($duration: 200ms, $timing-function: ease-in-out, $delay: 0ms) {
  opacity: 1;
  visibility: visible;
  transition: opacity $duration $timing-function $delay, visibility $delay;
}