.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 16px "Lato", helvetica, arial, sans-serif;
  color: white;
  background: gray;

  a {
    text-decoration: underline;
    color: white;
    cursor: pointer;
  }

  :focus {
    outline: 1px dashed lime;
    outline-offset: 1px;
  }
}