.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 16px "Lato", helvetica, arial, sans-serif;
  color: white;
  background: gray;

  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }

  :focus {
    outline: lime dashed 2px;
    outline-offset: 1px;
  }



    display: flex;
    align-items: center;
    justify-content: center;

  .header {
    align-self: flex-start;
  }

  .footer {
    align-self: flex-end;
  }
}