.app {
  position: relative;
  width: 100%;
  height: 100%;
  font: medium "Lato", helvetica, arial, sans-serif;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.app.loaded {
  opacity: 1;
  background: url("../images/background.jpg") right bottom/cover no-repeat;
}

.app.failed {
  opacity: 1;
  background: red;
}