.button {
  width: 51px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  cursor: pointer;
}

.app.loading .button {
  pointer-events: none;
}

.button.active {
  border: 1px solid transparent;
}

.button.inactive,
.button.inactive:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.button.bass {
  background: rgba(175, 46, 80, 0.47);
}

.button.bass.active {
  background: #d4214f;
}

.button.bass.waiting {
  animation: button-blink-bass 400ms infinite;
}

.app.no-touch .button.bass:not(.inactive):hover {
  background: rgba(212, 33, 79, 0.64);
}

.button.drum {
  background: rgba(56, 75, 107, 0.32);
}

.button.drum.active {
  background: #2c64c4;
}

.button.drum.waiting {
  animation: button-blink-drum 400ms infinite;
}

.app.no-touch .button.drum:not(.inactive):hover {
  background: rgba(44, 100, 196, 0.64);
}

.button.sound {
  background: rgba(33, 208, 168, 0.37);
}

.button.sound.active {
  background: #0afdcc;
}

.button.sound.waiting {
  animation: button-blink-sound 400ms infinite;
}

.app.no-touch .button.sound:not(.inactive):hover {
  background: rgba(10, 253, 204, 0.64);
}

@keyframes button-blink-bass {
  0% {
    background: rgba(175, 46, 80, 0.47);
  }

  50% {
    background: #d4214f;
  }

  100% {
    background: rgba(175, 46, 80, 0.47);
  }
}

@keyframes button-blink-drum {
  0% {
    background: rgba(56, 75, 107, 0.32);
  }

  50% {
    background: #2c64c4;
  }

  100% {
    background: rgba(56, 75, 107, 0.32);
  }
}

@keyframes button-blink-sound {
  0% {
    background: rgba(33, 208, 168, 0.37);
  }

  50% {
    background: #0afdcc;
  }

  100% {
    background: rgba(33, 208, 168, 0.37);
  }
}