.button {
  padding: 10px;
  margin: 2px;
  border: 2px solid blue;
  font: inherit;
  color: blue;
  background: aqua;

  &:hover {
    color: aqua;
    background: blue;
  }

  &[icon]::before {
    font: 14px/1em FontAwesome;
    content: attr(icon);
  }

  &[label]::after {
    content: attr(label);
  }
}