.chevron {
  position: relative;
  width: 238px;
  height: 420px;
  background: url("../images/chevron-background.png") center/contain no-repeat;
  /*background-color: red;*/
  transform-origin: 50% 50%;
}

.chevron:nth-child(1) {
  transform: translateX(28px);
}

.chevron:nth-child(2) {
  transform: translateX(-28px) scaleX(-1);
}

.chevron-top {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 20%;
  background: url("../images/chevron-top.png") bottom/100% no-repeat;
  opacity: 0.3;
}

.chevron-bottom {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20%;
  background: url("../images/chevron-bottom.png") top/100% no-repeat;
  opacity: 0.3;
}