.grid-button {
  width: 51px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  cursor: pointer;
}

.app.loading .grid-button {
  pointer-events: none;
}

.grid-button.active {
  border: 1px solid transparent;
}

.grid-button.inactive,
.grid-button.inactive:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.grid-button.drum {
  background: rgba(56, 75, 107, 0.32);
}

.grid-button.drum.active {
  background: #2c64c4;
}

.grid-button.drum.waiting {
  animation: grid-button-drum-blink 400ms infinite;
}

.app.no-touch .grid-button.drum:not(.inactive):hover {
  background: rgba(44, 100, 196, 0.64);
}

.grid-button.bass {
  background: rgba(175, 46, 80, 0.47);
}

.grid-button.bass.active {
  background: #d4214f;
}

.grid-button.bass.waiting {
  animation: grid-button-bass-blink 400ms infinite;
}

.app.no-touch .grid-button.bass:not(.inactive):hover {
  background: rgba(212, 33, 79, 0.64);
}

.grid-button.sound {
  background: rgba(33, 208, 168, 0.37);
}

.grid-button.sound.active {
  background: #0afdcc;
}

.grid-button.sound.waiting {
  animation: grid-button-sound-blink 400ms infinite;
}

.app.no-touch .grid-button.sound:not(.inactive):hover {
  background: rgba(10, 253, 204, 0.64);
}

@keyframes grid-button-drum-blink {
  0% {
    background: rgba(56, 75, 107, 0.32);
  }

  50% {
    background: #2c64c4;
  }

  100% {
    background: rgba(56, 75, 107, 0.32);
  }
}

@keyframes grid-button-bass-blink {
  0% {
    background: rgba(175, 46, 80, 0.47);
  }

  50% {
    background: #d4214f;
  }

  100% {
    background: rgba(175, 46, 80, 0.47);
  }
}

@keyframes grid-button-sound-blink {
  0% {
    background: rgba(33, 208, 168, 0.37);
  }

  50% {
    background: #0afdcc;
  }

  100% {
    background: rgba(33, 208, 168, 0.37);
  }
}