.interface {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 50% 50%;
}
/*
@media (max-width: 900px), (max-height: 600px) {
  .interface {
    transform: scale(0.8);
  }
}

@media (max-width: 750px), (max-height: 510px) {
  .interface {
    transform: scale(0.6);
  }
}

@media (max-width: 550px), (max-height: 425px) {
  .interface {
    transform: scale(0.4);
  }
}

@media (max-width: 370px), (max-height: 330px) {
  .interface {
    transform: scale(0.3);
  }
}

@media (max-width: 300px), (max-height: 280px) {
  .interface {
    transform: scale(0.25);
  }
}*/

.chevrons {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: 50% 50%;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 326px;
  height: 326px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg) scale(0.9);
  transform-origin: 50% 50%;
  /*background: yellow;*/
}