.looper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f8e9db;
  transform: translateX(-100%);
}

.show-looper .looper {
  animation: loop 4363.6363636364ms infinite ease-out;
}

@keyframes loop {
  0% {
    transform: translateX(-100%);
  }

  12.5% {
    transform: translateX(-87.5%);
  }

  25% {
    transform: translateX(-75%);
  }

  37.5% {
    transform: translateX(-62.5%);
  }

  50% {
    transform: translateX(-50%);
  }

  62.5% {
    transform: translateX(-37.5%);
  }

  75% {
    transform: translateX(-25%);
  }

  87.5% {
    transform: translateX(-12.5%);
  }

  100% {
    transform: translateX(0%);
  }
}