@import "../styles/includes.scss";

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(14, 34, 54, 0.61);

  &.visible {
    @include fade-in();
  }

  &:not(.visible) {
    @include fade-out();
  }
}