.player-button {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px;
  border: none;
  font: inherit;
  color: white;
  background: black;

  &:hover {
    color: black;
    background: white;
  }
}