.wizard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: rgba(14, 34, 54, 0.61);
  color: #f8e9db;
  font-size: 10px;
  text-align: center;
  opacity: 0;
  transition: all 200ms linear;
}

.wizard-title {
  margin: 100px 0 0.5em 0;
  font-weight: 200;
  font-size: 2em;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 300ms ease-in-out;
}

.wizard-step-1,
.wizard-step-2,
.wizard-step-3,
.wizard-step-4 {
  position: absolute;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 300ms ease-in-out;
}

.show-wizard-step-1 .wizard,
.show-wizard-step-2 .wizard,
.show-wizard-step-3 .wizard,
.show-wizard-step-4 .wizard {
  opacity: 1;
}

.show-wizard-step-1 .wizard-title,
.show-wizard-step-2 .wizard-title,
.show-wizard-step-3 .wizard-title,
.show-wizard-step-4 .wizard-title,
.show-wizard-step-1 .wizard-step-1,
.show-wizard-step-2 .wizard-step-2,
.show-wizard-step-3 .wizard-step-3,
.show-wizard-step-4 .wizard-step-4 {
  opacity: 1;
  transform: translateY(0px);
}

.show-wizard-step-2 .wizard-step-1,
.show-wizard-step-3 .wizard-step-1,
.show-wizard-step-3 .wizard-step-2,
.show-wizard-step-4 .wizard-step-1,
.show-wizard-step-4 .wizard-step-2,
.show-wizard-step-4 .wizard-step-3 {
  transform: translateY(50px);
}

@media (min-width: 1500px) and (min-height: 900px) {
  .wizard {
    font-size: 14px;
  }
}

@media (min-width: 1500px) and (min-height: 1400px) {
  .wizard {
    font-size: 18px;
  }
}